@font-face {
	font-family: Adam;
	src: url(fonts/Adam.ttf)
}
@font-face {
	font-family: "Proxima-Nova-Bold";
	src: url(fonts/ProximaNovaExtrabold.otf)
}

body{
background-color: #f2f2f2;
}
h1{
font-family: "Proxima-Nova-Bold";
font-weight: bold;
font-size: 30px;
text-align: center;
color: #262626;
}
h2, ul{
	font-family: "Proxima-Nova-Bold";
	font-size: 50px;
	color: #262626;
	text-align: center;
}
h3, li{
	font-family: "Proxima-Nova-Bold";
	font-size: 20px;
	color: #262626;
	text-align: center;
	width: 100%;
}
h4 {
	font-family: "Proxima-Nova-Bold";
	font-size: 25px;
	color: #81C3F4;
	text-align: center;
	width: 100%;
}
h5{
	font-family: "Proxima-Nova-Bold";
	font-size: 20px;
	color: #AEDCFF;
	text-align: center;
	width: 100%;
	margin:0;
	padding:10;

}
h6{
	margin:0;
	padding:0;
	font-family: "Proxima-Nova-Bold";
	font-size: 40px;
	color: #AEDCFF;
	text-align: center;
	width: 100%;
}

.bar{
    background-color: #262626;
    overflow: hidden;
    font-family: "Proxima-Nova-Bold";
    font-weight: bold;
		top: 0;
		position: fixed;
		width: 100%;
}
.bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 39px;
    text-decoration: none;
    font-size: 30px;
}

.tabcolor {
    background-color: #32A4F9;
}
.bar a:hover:not(.tabcolor) {
    background-color: #404040;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #73C3FF;
	width: 40px;
	height: 60px;
}

.black_left {
		float: left;
		height: 400px;
    margin: 10px;
    width: 500px;
		margin-top: 30px;
    margin-left: 50px;
    margin-right: auto;
		background-color: #363C42;
    box-shadow: 10px 10px 5px #8d8d8d;
		padding: 20px;
	}
.black_right {
	float: right;
	height: 400px;
	margin: 10px;
	width: 500px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 20px;
	background-color: #363C42;
	box-shadow: 10px 10px 5px #8d8d8d;
  padding: 20px;
}
input {
	font-family: "Proxima-Nova-Bold";
	width: 79%;
	height: 10%;
	font-size: 30px;
	}

button {
		float: right;
    width: 20%;
		height: 12%;
    background: #2196F3;
    color: white;
    border-left: none;
    cursor: pointer;
}

.dropbtn, .dropbtn a {
    background-color: #6495ED;
    color: white;
    padding: 5px;
    position: relative;
    font-size: 20px;
    min-width: 200px;
    min-height: 20px;
    border: none;
    cursor: pointer;
    font-family: "Proxima-Nova-Bold";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Proxima-Nova-Bold";
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4881ea;
}

.dropdown-content a {
    color: black;
    padding: 5px 14px;
    text-decoration: none;
    display: block;
    font-family: "Proxima-Nova-Bold";

}

.dropdown-content:hover {
		background-color: #BABDC0;
}
